
.posts-navigation,
.post-navigation,
.comment-navigation {
	margin-bottom: 50px;
	border-bottom: 1px solid $color__border;
	border-top: 1px solid $color__border;
	font-style: italic;
	color: $color__link-nav;

	.nav-previous,
	.nav-next {
		padding: 30px;
	}

	div + div {
		border-left: 1px solid $color__border;
	}

	@include breakpoint( '>660px' ) {
		@include sidebar-margin;
	}
}

.comment-navigation {
	margin-left: 0;
}

.posts-navigation .nav-previous,
.post-navigation .nav-previous,
.comment-navigation .nav-previous {
	float: left;
	padding-left: 0;
	width: 50%;
}

.posts-navigation .nav-next,
.post-navigation .nav-next,
.comment-navigation .nav-next {
	float: right;
	text-align: right;
	padding-right: 0;
	width: 50%;
}

.post-navigation,
.comment-navigation {
	.nav-previous a:before {
		content: '\2039';
		padding-right: 5px;
	}

	.nav-next a:after {
		content: '\203a';
		padding-left: 5px;
	}
}

@include breakpoint( '<480px' ) {
	.posts-navigation,
	.post-navigation,
	.comment-navigation {
		div + div {
			border-left: none;
			border-top: 1px solid $color__border;
		}
	}
	.posts-navigation .nav-previous,
	.post-navigation .nav-previous,
	.comment-navigation .nav-previous,
	.posts-navigation .nav-next,
	.post-navigation .nav-next,
	.comment-navigation .nav-next {
		float: none;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
