{
	"presets": [
		"react",
		[ "env", {
			"targets": {
				"browsers": ["last 2 versions", "not ie <= 10"],
				"node": "current"
			},
			"useBuiltIns": true
		} ]
	],
	"plugins": [
		"add-module-exports",
		"syntax-jsx",
		"transform-imports",
		"transform-react-jsx",
		"transform-runtime",
		"transform-object-rest-spread",
		"transform-class-properties"
	],
	"env": {
		"test": {
			"plugins": [
				[ "babel-plugin-webpack-alias", { "config": "./webpack.config.js" } ]
			]
		}
	}
}
