/*--------------------------------------------------------------
    Term archive pages
--------------------------------------------------------------*/

.page-header {
	margin-bottom: 50px;

	@include breakpoint( '>660px' ) {
		@include sidebar-margin;
	}
}
