/*--------------------------------------------------------------
    Footer
--------------------------------------------------------------*/
.site-footer {
	padding: 50px 0;
	@include font-size( 16 );
	font-weight: $font__weight-bold;
	text-transform: uppercase;
	text-align: center;

	a {
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
		}
	}
}
