/*--------------------------------------------------------------
    Footer
--------------------------------------------------------------*/
.site-footer {
	padding: 50px 0;
	background-color: $beige;
	@include font-size( 16 );
	font-weight: $font__weight-semibold;
	text-transform: uppercase;
	text-align: center;

	a {
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
		}
	}
}
