/*--------------------------------------------------------------
    Header
--------------------------------------------------------------*/
.site-header {
	margin-bottom: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.site-branding {
	margin: 0 auto;
	max-width: $size__site-main;
}

.site-title a,
.site-logo-link {
	&:hover,
	&:active,
	&:focus {
		outline: none;
		border-bottom: 1px solid white;
	}
}
