/*--------------------------------------------------------------
    Widgets
--------------------------------------------------------------*/

.sidebar-widgets {
	@extend %sidebar-margin;

	margin-bottom: 50px;
	padding-top: 75px;
	max-width: 100%;
	border-top: 1px solid $color__border;

	.home &,
	.archive & {
		border-top: none;
	}

	.widget {
		float: left;
		width: 50%;

		&:nth-of-type( odd ) {
			padding-right: 20px;
		}
		&:nth-of-type( even ) {
			padding-left: 20px;
		}
	}
}
