body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size( $font__size-main );
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
