
/*--------------------------------------------------------------
   Lists of posts
--------------------------------------------------------------*/
.placeholder {
	padding: 50px;
	text-align: center;
}

.entry {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 80px;
}

.entry-title {
	@extend %sidebar-padding;
	flex: 1 100%;
	max-width: 100%;
}

.entry-meta {
	flex: 1 $size__site-sidebar;
	width: $size__site-sidebar;
	margin-top: 8px;
	margin-right: $size__site-gutter;
	text-align: right;
}

.entry-meta-label {
	margin-bottom: 5px;
}

.entry-content {
	flex: 1 $size__site-content;
}
