a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	.navigation & {
		font-weight: $font__weight-bold;
		text-decoration: none;
	}

	.entry-content &,
	.comment-content &,
	.widget_calendar tbody & {
		margin-left: -2px;
		margin-right: -2px;
		padding-left: 2px;
		padding-right: 2px;
		box-shadow: inset 0 -2px 0 $color__link-border;

		&:hover, &:focus {
			background-color: $color__link-hover-background;
		}
	}

	.widget & {
		&:hover, &:focus {
			box-shadow: inset 0 -2px 0 $color__link-border;
		}
	}
}
