button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__text-button;
	@include font-size( $font__size-main );
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {}

	&:focus,
	&:active {}
}
