input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	@include font-size( 15 );
	border: none;

	&:focus {
		outline: none;
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 15px 40px 12px;
	line-height: 1;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

select {
	max-width: 100%;
}

::-webkit-input-placeholder {
	line-height: normal;
}
::-moz-placeholder { /* Firefox 19+ */
	line-height: normal;
}
:-ms-input-placeholder {
	line-height: normal;
}
:-moz-placeholder { /* Firefox 18- */
	line-height: normal;
}
