// Base Colors
$dark-brown: #332e29;
$mid-brown: #8e8579;
$light-brown: #e3e0dd;
$beige: #eeedeb;

// In-context colors

$color__background-body: #fff;
$color__background-header: $mid-brown;
$color__background-screen: $beige;
$color__background-hr: $light-brown;
$color__background-button: $mid-brown;
$color__background-pre: $beige;
$color__background-ins: $beige;
$color__background-overlay: $dark-brown;

$color__text-main: $mid-brown;

$color__text-screen: #333;
$color__text-button: #fff;
$color__text-input: $color__text-main;
$color__text-input-focus: $color__text-main;

$color__link: inherit;
$color__link-visited: inherit;
$color__link-hover: inherit;

$color__border-input: $mid-brown;
$color__border-input-focus: $dark-brown;
$color__border-abbr: $light-brown;
$color__border-post: $light-brown;
