$font__main: "Source Code Pro", monospace;
$font__header: "Source Serif Pro", serif;
$font__code: "Source Code Pro", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Source Code Pro", "Courier 10 Pitch", Courier, monospace;

$font__size-header: 30;
$font__size-main: 18;
$font__size-recipe-meta: 16;
$font__size-meta: 14;

$font__line-height-body: 1.57142857143;
$font__line-height-pre: 1.57142857143;

$font__weight-normal: 400;
$font__weight-semibold: 600;
$font__weight-bold: 700;
