.search-form {
	position: relative;

	.page-header & {
		margin: 0 auto 75px;
	}

	.search-field {
		box-sizing: border-box;
		padding: 13px 20px 14px;
		width: 100%;
		background-color: transparent;
		border: 1px solid $color__border-input;
	}
}

.search-submit {
	clip: rect( 1px, 1px, 1px, 1px );
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		top: 0;
		right: 0;
		clip: auto !important;
		height: 100%;
		width: auto;
		border: none;
		box-shadow: none;
	}
}
