/*--------------------------------------------------------------
    Comments
--------------------------------------------------------------*/

.comments-area {
	margin-bottom: 75px;

	@include breakpoint( '>660px' ) {
		@include sidebar-margin;
	}
}

.comments-title,
.comment-list,
.comment-respond {
	margin-bottom: 50px;
}

.comment-list {
	margin: 0;
	padding: 0;
	list-style: none;

	article {
		margin-bottom: 30px;
	}
}

.comment-meta {
	margin-bottom: 15px;
	text-align: center;
}

.comment-avatar img {
	box-sizing: content-box;
	margin: 0 0 20px;
	padding: 7px;
	height: 64px;
	width: 64px;
	border-radius: 50%;
	border: 1px solid $color__border;
}

.comment-author {
	margin-bottom: 10px;
	font-weight: $font__weight-bold;
}

.comment-status,
.comment-form-notes {
	font-style: italic;
	@include font-size( $font__size-meta );
}

@include breakpoint( '>660px' ) {
	.comment-form-required {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;

		& > div {
			flex: 1;
		}

		.comment-form-author {
			margin-right: 20px;
		}
	}
}

.comment-error {
	line-height: 1.4;
}

.comment-form-field {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;

	margin-bottom: 20px;
	border: 1px solid $color__border-input;
	color: $color__text-label;

	label {
		flex: 0 auto;
		padding: 15px;
	}

	input {
		padding-left: 0;
	}

	&.comment-form-comment {
		label, textarea {
			flex: 1 100%;
		}

		textarea {
			min-height: 140px;
			padding: 0 15px 15px;
		}
	}
}

.comment-form-submit {
	text-align: right;

	input[type="submit"] {
		background-color: $color__background-button-primary;
	}

	input[type="submit"][disabled] {
		opacity: 0.5;
	}
}
